.carousel{
    width: 100vw;
   margin: 2rem auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--backgroundWhite);
    
}

.carouselContainer img{
    height:12vw;
    width: 12vw;
    border-radius: 10px;
  }

  .carouselContainer{
    position: relative;
   transition: all .5s;
}

.carouselTitle{
    font-family: strange;
    color: var(--fontGold);
    font-size: 1.3rem;
    letter-spacing: 1px;
    width: 90%;
    border: 1px solid var(--fontGold);
    padding: 0 1rem;
    background-color: var(--borderGrey);
    margin-right: 1rem;
    font-weight: 700;

}

.carouselContainer h2{
    margin: 0;
    font-size: 3vmin;
    width: 80%;
    color: var(--fontGold);
    word-break: break-all;

  }

  .carouselContainer .rating{
    position: absolute;
    font-weight: 800;
    font-family: 'Monoton', cursive;
    padding: 0;
    left: -1rem;
    font-size: 10vmax;
    color: var(--fontGold);
    top: -1rem;
    z-index: 1;
  }


  .seeMore{
    text-align: right;
    color: var(--fontGold);
    display: block;
    margin-right: 2.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  @media screen  and (max-width: 700px) {
    .carouselContainer img{
      height:15vw;
      width: 15vw;
      border-radius: 10px;
    }
  }
 
  @media screen  and (max-width: 450px) {
    .carouselContainer img{
      height:22vw;
      width: 22vw;
      border-radius: 10px;
    }
  }


