.carousel {
  width: 105vw;
  margin: 1rem auto;
  padding: 0;
  border-radius: 10px;
  background-color: var(--backgroundWhite);

}

.carouselContainer img {
  height: 12vw;
  width: 12vw;


}

.carouselContainer {
  position: relative;
  transition: all .5s;
  text-align: center;
 
  border-radius: 10px;
  background-color: var(--fontGold);
  width: 12vw;
  overflow: hidden;

}



.carouselTitle {
 
  color: var(--fontGold);
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding-left: 1rem;
  margin-right: 1rem;
  font-weight: 800;
  width: 90%;
  margin-bottom: 1px;


}

.carouselContainer h2 {
  margin: 0 auto;
  font-size: 1vmax;
  text-overflow: ellipsis;
  width: 95%;
  height: 2.8rem;
  color: var(--fontBlack);
  text-align: center !important;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.carouselContainer .rating {
  position: absolute;
  font-weight: 700;
  font-family: 'Monoton', cursive;
  padding: 0;
  margin: 0;
  left: -1.5rem;
  font-size: 10vmax;
  color: var(--fontGold);
  top: -1rem;
  z-index: 1;
  letter-spacing: 1px;
}


.seeMore {
  text-align: right;
  color: var(--fontGold);
  display: block;
  margin-right: 6vw;
  font-size: 1.2rem;
  margin-top: 5px;
}

@media screen and (max-width: 700px) {
  .carouselContainer img {
    height: 15vw;
    width: 15vw;
    border-radius: 10px;
  }
}


@media screen and (max-width: 450px) {
  .carouselContainer img {
    height: 22vw;
    width: 22vw;
    border-radius: 10px;
  }

.carouselContainer{
  width: 22vw;

}

.carousel h2{
  height: 1.9rem;
  overflow: hidden;
}
.carousel .rating{
  font-size: 9vmax;
  left: -1.2rem;
}

.seeMore{
  margin-right: 4vw;
}

.carouselTitle{
  font-size: 1.3rem;
}

}