.imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.dashCard {

    border-radius: 10px;
    color: var(--fontBlack);
    background-color: var(--backgroundWhite);
    width: 90%;
    margin: 2rem auto;
    padding-top: 1rem;
  
}

.dashCard h1 {
    color: var(--fontGold);
    width: 90%;
    margin: 1rem auto;
    padding-left: .5rem;
    border: 1px solid var(--fontGold);
    background-color: var(--borderGrey);
    font-size: 1.5rem;
}

.content {
    display: flex;
    width: 90%;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    margin: auto;
    background-color: var(--backgroundWhite);
}

.item {

    width: 30vmin;
    height: 40vmin;
    display: grid;
    grid-template-rows: 75% 25%;
    border-radius: 10px;
    overflow: hidden;

}

.item img {}


.itemInfo {

    background-color: var(--fontGold);
    color: var(--fontBlack);
    text-align: center;
    padding: .5rem;
    overflow: hidden;
}

.itemDate {
    font-size: .7rem;
    background-color: var(--fontGold);
    color: var(--backgroundWhite);
    width: fit-content;
    margin-top: .5rem;

}

.itemTitle {
    font-size: 1rem;
}

.seeMore {
    text-align: center;
    color: var(--fontBlack);
    background-color: var(--fontGold);
    font-size: 1.3;
    padding: 1rem ;
    border-radius: 0 0 10px 10px;

}

@media screen and (max-width: 750px) {
    .dashCard {
        width: 90%;
    }

    .itemTitle {
        font-size: .7rem;
    }

}