.dashCard1{
    position:relative;
    width: 100%;
}

.dashCard1Title{
    color: var(--fontGold);
    font-weight: 700;
    font-size: 2rem;
  
}

.dashCard1Info{
    background-color: rgba(255, 255, 255, 0.486);
    position: absolute;
    bottom: 0;
   padding-left: 1rem;
   width: calc(100% - 1rem);
    color: var(--fontGold);
}


.imageContainer{
    position: relative;
    width: 100%;
    height: 70vmin;
}

.dashCard{
   
    display: inline-block;
    background-color: var(--backgroundWhite);
    border-radius: 10px;
    cursor: pointer;
    color: var(--fontBlack);
    width: 100%;
}

.dashCard h1{
    color: var(--fontGold);
    width: 90%;
    margin: 1rem auto;
    padding-left: .5rem;
    border: 1px solid var(--fontGold);
    background-color: var(--borderGrey);
    font-size: 1.5rem;
}

.item{
    display: grid;
    grid-template-columns: 4rem auto;
    gap: 3px;
    border-top: 5px solid var(--borderGrey);
    margin: 0 1rem;

}


.itemInfo{
    display: flex;
    flex-direction: column;
    color: var(--fontBlack);
    justify-content: space-between;
   align-self: left;
   padding-left: 1rem;
}

.itemDate{
    font-size: small;
    background-color: var(--fontGold);
    color: var(--backgroundWhite);
    width: fit-content;
    margin: .5rem;

}

.itemTitle{
  
}

.seeMore{
    text-align: right;
    color: var(--fontGold);
    margin-right: 1rem;
}