.imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.dashCard {

    border-radius: 10px;
    color: var(--fontBlack);
   
    width: 90%;
    margin: 2rem auto;
    padding-top: 1rem;
  
}

.dashCard h1 {
    color: var(--fontGold);
    
    text-align: center;
  
    background-color: var(--borderGrey);
    font-size: 1.5rem;
}

.content {
    display: flex;
    width: 90%;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    margin: auto;
   
}

.item {

    width: 10rem;
    height: 12rem;
    display: grid;
    grid-template-rows: 75% 25%;
    border-radius: 10px;
    overflow: hidden;

}

.item img {}


.itemInfo {

    background-color: var(--backgroundWhite);
    color: var(--fontBlack);
    text-align: center;
    padding: .5rem;
    overflow: hidden;
}

.itemDate {
    font-size: .7rem;
    background-color: var(--fontGold);
    color: var(--backgroundWhite);
    width: fit-content;
    margin-top: .5rem;

}

.itemTitle {
    font-size: .8rem;
  
}

.seeMore {
    text-align: center;
    color: var(--fontBlack);
    background-color: var(--fontGold);
    font-size: 1.3;
    padding: 1rem ;
    border-radius: 0 0 10px 10px;

}

@media screen and (max-width: 950px) {
    .dashCard {
        width: 90%;
    }

    .itemTitle {
        font-size: .7rem;

    }

    .item {

        width: 8rem;
        height: 12rem;
       
    
    }



}

@media screen and (max-width: 700px) {
    .item {

        width: 7rem;
        height: 12rem;
    
    }
}
