.fixtures .matches{
    display: grid;
    grid-template-columns: 20% 10% 20%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
}

.fixtures{
    color: var(--fontBlack);
    background-color: var(--backgroundWhite);
    border-radius: 10px;
   width: 95%;
   margin-left: auto;
   margin-right: auto;
   padding-top: 1rem;
  
}

.fixtureData{
    display: flex;
}

.fixtures .matchesContainer{
    margin: 1rem;
    border: 1px solid var(--fontBlack);
    padding-bottom: 1rem;
    text-align: center;
    width: 300px;
}


 .leagueSelect{
    width: 90vw;
    margin: 0 auto ;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.leagueSelect button{
    color: var(--fontBlack);
    background-color: transparent;
    border: none;
    outline: none;
    font-size: medium;
}


.material-symbols-outlined{
    font-size: 2rem;
    margin-left: 2rem;
    color: white;
    cursor: pointer;
}



.title{
    color: var(--fontGold);
    border: .1px solid var(--fontGold);
    background-color: var(--borderGrey);
    padding-left: 1rem;
    margin: .5rem 1rem;
}



.fixtureData{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.matchesContainer h3{
    color: var(--fontGold);
}

.matchesContainer h2{
    color: var(--fontGold);
}

.active{
    color: var(--fontGold) !important;
}