:root{
    --backgroundBlack: 	rgb(0,0,0);
    --backgroundWhite: white;
    --fontGold: gold;
    --borderGrey: #70809023;
    --fontBlack: 	#696969;

}

body{
    background-color: var(--borderGrey);
    margin: 0;
}

.slick-arrow{
    visibility: hidden;
}

a{
    text-decoration: none;
}

