:root {
    --backgroundBlack: rgb(0, 0, 0);
    --backgroundWhite: rgb(34, 32, 32);
    --fontGold: rgb(161, 129, 24);
    --borderGrey: #000000;
    --fontBlack: #e2dfdf;

}

body {
    background-color: var(--borderGrey);
    margin: 0;
    padding: 0;
  
 
}



a {
    text-decoration: none;
}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
    
}

.ads {
 
    width: fit-content;
    margin: 1rem auto;
}

.telegram {
    text-align: center;
    color: var(--fontGold);
    border: 1px solid var(--fontGold);
    width: fit-content;
    margin: 1rem auto;
    font-size: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.mobileTop{
  width: 320px; 
  height: 100px;
   border: 0px;
    padding: 0;
     overflow:hidden;
      background-color: transparent;
}

.pcTop{
  width: 728px; 
  height: 90px;
   border: 0px;
    padding: 0;
     overflow:hidden;
      background-color: transparent;
}

.mobileBottom{
  width: 336px; 
  height: 280px;
   border: 0px;
    padding: 0;
     overflow:hidden;
      background-color: transparent;
}

.pcBottom{
  width: 728px; 
  height: 90px;
   border: 0px;
    padding: 0;
     overflow:hidden;
      background-color: transparent;
}

.slick-arrow{
    height: 100% !important;
    width: 3rem !important;
    z-index: 5 !important;
    opacity: 0 !important;
    background-color:rgba(114, 99, 13, 0.678) !important;
    display: block !important;
    transition: all .5s;
  
  }

  .slick-next{
    right: 6vw !important;
    
  }

  .slick-prev{
    left: -0.7rem !important;
  }

  .slick-arrow:hover{
    opacity: 1 !important;
  }

  @media screen and (max-width: 750px) {
    .slick-next{
        right: 2vw !important;
    }


    .slick-arrow{
        width: 2.5rem !important;
    }
    
   
  }