:root {
    --backgroundBlack: rgb(0, 0, 0);
    --backgroundWhite: rgb(34, 32, 32);
    --fontGold: rgb(161, 129, 24);
    --borderGrey: #000000;
    --fontBlack: #e2dfdf;
    --glow-color:rgb(161, 129, 24);

}

body {
    background-color: var(--borderGrey);
    margin: 0;
    padding: 0;
  overflow-x: hidden;
 
}



a {
    text-decoration: none;
}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
    
}

.ads {
 
    width: fit-content;
    margin: 0 auto;
  
}

.telegram {
    text-align: center;
    color: var(--fontGold);
    border: 1px solid var(--fontGold);
    width: fit-content;
    margin: 1rem auto;
    font-size: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.glowContainer{
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  margin-bottom: 4rem;
}
.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 5px;
  
  

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;

}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;

}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.mobileTop{
  width: 320px; 
  height: 100px;
   border: 0px;
    padding: 0;
     overflow:hidden;
      background-color: transparent;
}

.pcTop{
  width: 728px; 
  height: 90px;
   border: 0px;
    padding: 0;
     overflow:hidden;
      background-color: transparent;
}

.mobileBottom{
  width: 336px; 
  height: 280px;
   border: 0px;
    padding: 0;
     overflow:hidden;
      background-color: transparent;
}

.pcBottom{
  width: 728px; 
  height: 90px;
   border: 0px;
    padding: 0;
     overflow:hidden;
      background-color: transparent;
}

.slick-arrow{
    height: 100% !important;
    width: 3rem !important;
    z-index: 5 !important;
    opacity: 0 !important;
    background-color:rgba(114, 99, 13, 0.678) !important;
    display: block !important;
    transition: all .5s;
  
  }

  .slick-next{
    right: 6vw !important;
    
  }

  .slick-prev{
    left: -0.7rem !important;
  }

  .slick-arrow:hover{
    opacity: 1 !important;
  }

  @media screen and (max-width: 750px) {
    .slick-next{
        right: 2vw !important;
    }


    .slick-arrow{
        width: 2.5rem !important;
    }
    
   
  }