.movieImageContainer {
    position: relative;
    width: 30vmax;
    height: 40vmax;
    border: 2px solid var(--fontGold);
    justify-self: center;

}

.previewHeader {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 70%;
    margin: 0 auto;
    padding-top: 2rem;
}

.previewRight h2 {
    font-size: 2.5rem;
    color: var(--fontGold);
    text-align: center;
    word-break: keep-all !important;

}

.previewRight h3 {
    color: var(--fontGold);
    margin: .5rem;
}

.previewRight p {
    color: var(--fontBlack);
    margin: 0;

}

.previewRight {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moviePreview {
    background-color: var(--backgroundWhite);
    overflow-x: hidden;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 2rem;
}

.description h3 {
    color: var(--fontGold);
}

.description p {
    color: var(--fontBlack);
    text-align: center;
}

.trailer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--fontGold);
    position: relative;
    width: 60%;
    margin: 2rem auto;
    padding-top: 2rem;

}

.trailer iframe {
    width: 100vmin !important;
}

.trailer h3 {
    color: var(--fontBlack);
    position: absolute;
    background-color: var(--backgroundWhite);
    top: -2rem;
}

.download {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--fontGold);
    font-size: 1.5rem;
    margin-top: 1rem;
    background-color: var(--fontGold);
    border: none;
    outline: none;
    color: var(--backgroundWhite);
    font-size: 1rem;
    padding: .5rem;
    border-radius: 10px;

}

.download h3 {
    color: var(--fontBlack);
}

.download p {
    display: flex;
    gap: 1rem;
    justify-content: center;
    color: var(--fontGold);
    flex-wrap: wrap;
}

.download a {
    color: var(--fontGold);
}

.stars {
    text-align: center;
}

.otherEpisodes{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    margin: 1rem;

}

.changeEpisode{
    width: fit-content;
    font-size: 1.2rem;
    padding: 4px;
    display: flex;
    flex-direction: column;
    color: var(--fontBlack);
    text-align: center;
}

.changeEpisode div {
    color: var(--fontGold);
}

.changeEpisode .upper{
    color: var(--fontBlack);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
 
}
.stream{
    width: 60%;
    display: flex;
    justify-content: center;
    border: 1px solid var(--fontGold);
    position: relative;
    text-align: center;
    box-sizing: border-box;
    margin: 2rem auto;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--fontBlack);
}

.stream h2{
    color: var(--fontGold);
    position: absolute;
    background-color: var(--backgroundWhite);
    top: -2rem;
}

.stream iframe{
    margin-left: auto !important;
    margin-right: auto !important;
    width:100vmin !important;

}

.stream p{
    color: var(--fontGold);
}

.serverChange{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 1rem;
}

.serverChange button{
    border: none;
    outline: none;
    color: var(--fontGold);
    background-color: var(--backgroundWhite);
    font-size: 1rem;
    padding: .5rem;
    border-radius: 10px;
}

.activeLink{
    background-color: var(--fontGold) !important;
    color: var(--backgroundWhite) !important;
}

.downloadLinks{
    display: flex;
    justify-content: center;
    border: 1px solid var(--fontGold);
    position: relative;
    text-align: center;
    box-sizing: border-box;
    margin: 2rem auto;
    display: flex;
   width: 100vmin;
    padding: 1rem;
    color: var(--fontBlack);
    gap: 1rem;
}

.downloadLinks h2{
    color: var(--fontGold);
    position: absolute;
    background-color: var(--backgroundWhite);
    top: -2rem;
}

@media screen and (max-width : 900px) {
    .previewHeader {
        grid-template-columns: auto;
        width: 100%;
        margin: 0 auto;
        padding-top: 1rem;
    }

    .previewRight h2 {
        font-size: 1.5rem;
        color: var(--fontGold);
        word-break: break-all;

    }

    .note {
        width: 100%;
        margin: 2rem auto;
        padding-top: 2rem;

    }

    .stream{
        width: 90%;
        padding: 1rem;
       
       
    }
}

