.moviesHeader{
    height: 90vh;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 overflow: hidden;
 position: relative;


}

.headerDetails h1{
    font-family:strange;
    color: var(--fontGold);
    word-wrap: break-word;
 }

 .headerDetails{
    position: absolute;
    top: 20vh;
    left: 5vw;
    width: 40vw;
    height: 40vh;
    color: white;
        text-align: center;
        width: 90vmin;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 40vh;
        font-size: larger;
        overflow: hidden;
        text-overflow: ellipsis;
       
}

.movieDisplay{
    background-color: var(--borderGrey);
}
