.moviesHeader {
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;

}

.headerImage {
    position: relative;



}

.headerDetails h1 {
    font-family: strange;
    color: var(--fontGold);
    word-wrap: break-word;
    font-size: 3rem;

}

.headerDetails {
    color: var(--fontBlack);
   
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 2;

    background-image:linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0),  rgba(0, 0, 0, 0.192));
    height: 100%;

}

.headerDetails div{
    width: 60%;
}


.movieDisplay {
    background-color: var(--borderGrey);
    overflow: hidden;
}

.fade{
 
    height: 100%;
    width: 70%;
    z-index: 1;
    position: relative;
    
}


@media screen and (max-width: 750px) {
    .headerDetails {
        background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.842),  rgb(0, 0, 0));
        
    }

    .moviesHeader {
       grid-template-columns: 100%;
       grid-template-rows: 60% 40%;
       height: 70vh;
    }

    .headerImage{
        grid-row: 1;
    }

    .headerDetails div{
        width: 100%;
        margin-top: 25vh;
    }

   

 
}