.imageContainer{
    position: relative;
    height: 70vmin;
}


.title{
    color: var(--fontGold);
    margin-left: 1rem;
}

.news{
    border: .1px solid var(--fontGold);
    border-radius: 10px ;
    background-color: var(--backgroundWhite);
    color: var(--fontBlack);
    overflow: hidden;
}

.date{
    margin-left: 1rem;
}

.secondaryMedia{
    margin: 1rem auto;
    width: 60%;
}

.description{
    font-size: 1rem;
    line-height: 2rem;
    padding: 1rem;
}

.details{
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 1rem;
    padding: 2rem;
}

@media screen and (max-width: 900px) {
    .details{
        grid-template-columns: auto;
        padding: .5rem;
    }
}