


@media screen and (max-width: 750px) {
   
  

}

.pagnation {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.inactivePage {
    color: var(--fontGold);
}

.activePage {
    color: var(--backgroundWhite);
    background-color: var(--fontGold);
    padding: 5px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-items: center;
}