.sidebar{
    position: fixed;
    transition: all .3s;
    overflow: hidden;
    background-color:  var(--backgroundWhite);
    height: 100vh;
    box-sizing: border-box;
    z-index: 2;
    padding-top:20vh;
    display: flex;
    flex-direction: column;
    color: var(--fontBlack);
    gap: 2rem;
    font-size: 1.2rem;
    padding-left: 2rem;
    justify-content:flex-start ;

}

.sidebar a{
    color: var(--fontBlack);
    display: flex;
    align-items: center;
}

.sidebar a:active{
    color: var(--fontGold);
}




.open{
    width: 250px;
}

.closed{
    width: 0px;
    padding: 0;
}

.sidebar button{
    display: flex;
    background-color: var(--backgroundWhite);
    color: var(--fontBlack);
    align-items: center;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0;
    gap: 1px;
}

.newsLinks{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 2rem;
    overflow: hidden;
}